{% extends 'layouts/base.html' %} {% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="header pb-6 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Change Inactives on Portal || {{ user[5] }}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('home_blueprint.edit_inactives', user_id=user[0]) }}" method="post">
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label class="form-control-label" for="name">Customer Name</label>
										<input type="text" id="input-username" class="form-control" value="{{ user[5] }}" name="name" disabled />
									</div>
								</div>
							</div>
                            <div class="row">
								<div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="name">User Name</label>
                                        <input type="text" id="input-username" class="form-control" value="{{ user[1] }}" name="username" disabled />
                                    </div>
								</div>
							</div>
							<div  class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="name">Portal for changing it</label>
                                        <a href="https://radius.pioneer.co.in/unifyv3/listsubs.do?status=0&from=menu" title="Generate Ledger">RadiousPortal Link</a>
                                        <br></br>
                                        <a href="https://krpadmin.thecloudradius.in/" title="Generate Ledger">Cloud RadiousPortal Link</a>
                                    </div>
                                </div>
							</div>
							<div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="status">Changed on Portal?</label>
                                        <select name="status" class="form-control form-control-sm">
                                            {% if user[4]== 0%}
                                            <option value="N" selected>NO</option>
                                            <option value="Y">Yes</option>
                                            {%else %}
                                            <option value="Y" selected>Yes</option>
                                            <option value="N">NO</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <div class="box-footer">
                                <button type="submit" class="btn btn-outline-primary">Update Settings</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}