{% extends 'layouts/base.html' %}
 {% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
    <!-- Header -->
	<div class="container">
		<br>
			{% if current_user.department != 2 %}
			<div class="row">
                <div class="col-xl-4 col-md-6">
                    <a href="{{ url_for('home_blueprint.payment') }}" title="Pending Payments">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Due Amount</h5>
                                        <span class="h2 font-weight-bold mb-0">₹{{ pending_payments[0] }} ({{ pending_payments[1]}})</span>
                                        <!-- money-coins -->
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-money-coins"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div> <!--Pending Payments -->
                <div class="col-xl-3 col-md-6">
					<a href="{{ url_for('home_blueprint.transactions') }}" title="Today Collection">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Today Collection</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ today_collection[0] }} ({{ today_collection[1] }})</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-money-coins"></i>
                                        </div>
                                    </div>
				                    <p class="mt-3 mb-0 text-muted text-sm">
										{% if percent_collection > 0 %}
										  	<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ percent_collection }}%</span>
											<span class="text-nowrap">Since last month</span>
										{% elif percent_collection < 0 %}
										  	<span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> {{ percent_collection }}%</span>
											<span class="text-nowrap">Since last month</span>
										{% else %}
									  		<span class="text-secondary mr-2"><i class="fa fa-fat-delete"></i> {{ percent_collection }}%</span>
											<span class="text-nowrap">Since last month</span>
										{% endif %}
										
				                    </p>
                                </div>
                            </div>
                        </div>
					</a>
                </div>
                <div class="col-xl-3 col-md-6">
					<a href="{{ url_for('home_blueprint.transactions') }}" title="Total Collection">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Collection</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ total_collection[0] }} ({{ total_collection[1] }})</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-money-coins"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</a>
                </div>
			</div>
			{% endif %}
			{% if current_user.department != 1 %}
			<div class="row">
                <div class="col-xl-3 col-md-6">
                    <a href="{{ url_for('home_blueprint.new_requests') }}" title="New Connection">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted text-center mb-0">Pending New Connections</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ pending_new_requests }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6">
                    <a href="{{ url_for('home_blueprint.dashboard') }}" title="Raise Issue">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Pending Issues</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ pending_issues }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-md-6">
					<a href="{{ url_for('home_blueprint.unsettled_amount') }}" title="Unsettled_amount">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Unsettled Amount</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ unsettled }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-money-coins"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</a>
                </div>
            </div>
			{% endif %}
			{% if current_user.department == 3 or current_user.department == 4 %}
			<div class="row">   
                <div class="col-xl-3 col-md-6">
					<a href="{{ url_for('home_blueprint.users') }}" title="Total Connections">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Connections</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ total_connections }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
					</a>
                </div>
                <div class="col-xl-3 col-md-6">
					<a href="{{ url_for('home_blueprint.users') }}" title="Free Connections">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Free Connections</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ free_connections }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
					</a>
                </div>
                <div class="col-xl-4 col-md-6">
					<a href="{{ url_for('home_blueprint.inactives') }}" title="Recently Inactives">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Inactivated Accounts</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ inactives_recent }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-fat-delete"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</a>
                </div>
            </div>
			<div class="row">
				<div class="col-xl-4">
					<div class="card">
			        <div class="card-header bg-transparent">
			            <div class="row align-items-center">
			                <div class="col">
			                    <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
			                    <h5 class="h3 mb-0">SalesMan wise collection(Today)</h5>
			                </div>
			            </div>
			        </div>
			        <div class="card-body">
						<div class="chart">
							<canvas id="pie-chart" class="chart-canvas" height="300"></canvas>
						</div>
			        </div>
			    </div>
				</div>
				<div class="col-xl-4">
					<div class="card">
			        	<div class="card-header bg-transparent">
			            <div class="row align-items-center">
			                <div class="col">
			                    <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
			                    <h5 class="h3 mb-0">Day Wise Collections</h5>
			                </div>
			            </div>
			        </div>
						<div class="card-body">
							<div class="chart">
						<canvas id="bar-chart2" class="chart-canvas" height="300"></canvas>
					</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="card">
			        	<div class="card-header bg-transparent">
			            <div class="row align-items-center">
			                <div class="col">
			                    <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
			                    <h5 class="h3 mb-0">Month Wise Colletions</h5>
			                </div>
			            </div>
			        </div>
						<div class="card-body">
							<div class="chart">
						<canvas id="bar-chart3" class="chart-canvas" height="300"></canvas>
					</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
	</div>

{% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script>
	new Chart(document.getElementById("bar-chart2"), {
	    type: 'bar',
	    data: {
			labels: [ {% for item in lables2 %}
             "{{item}}",
            {% endfor %} ],
	      datasets: [
	        {
	          label: "Amount (INR)",
	          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#rgb"],
	          data: [
				  {% for item in values2%}
				  {{item}},
				{% endfor %}
	          ]
	        }
	      ]
	    },
	    options: {
	      legend: { display: false },
	      title: {
	        display: true
	      }
	    }
	});
	new Chart(document.getElementById("bar-chart3"), {
	    type: 'bar',
	    data: {
			labels: [ {% for item in lables3 %}
             "{{item}}",
            {% endfor %} ],
	      datasets: [
	        {
	          label: "Amount (INR)",
	          backgroundColor: ["#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#rgb"],
	          data: [
				  {% for item in values3%}
				  {{item}},
					  {% endfor %}
	          ]
	        }
	      ]
	    },
	    options: {
	      legend: { display: false },
	      title: {
	        display: true
	      }
	    }
	});
	new Chart(document.getElementById("pie-chart"), {
	    type: 'pie',
	    data: {
	      labels: [{% for item in lables4 %}
             "{{item}}",
            {% endfor %}],
	      datasets: [{
	        label: "Amount (INR)",
	        backgroundColor: ["#de425b", "#aecdc2","#3cba9f","#e8c3b9","#c45850"],
	        data: [{% for item in values4%}
				  {{item}},
					  {% endfor %}]
	      }]
	    },
	    options: {
	      title: {
	        display: true,
	      }
	    }
	});
	
</script>


{% endblock javascripts %}