{% extends 'layouts/base.html' %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="header pb-6 d-flex align-items-center" >
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
</div>
<div class="container-fluid mt--6">
  <div class="row">	
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit Profile || {{ user[7] }}  </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form action="{{ url_for('home_blueprint.update_user_profile', user_id=user[0]) }}" method=post>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">Customer Name</label>
                    <input type="text" id="input-username" class="form-control" value="{{ user[7] }}" name="name" disabled>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">User Name</label>
                    <input type="text" id="input-username" class="form-control" value="{{ user[1] }}" name="name" disabled>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Email address</label>
                    <input type="email" name = "email" id="input-email" class="form-control" value="{{ user[2] }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="status">Status</label>
                    <input type="email" name = "status" id="input-email" class="form-control" value="{{ user[4] }}" readonly>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="add">Address</label>
                    <input id="input-address" class="form-control" type="text" name = "add" value="{{user[5]}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="mobile">Mobile Number</label>
                    <input type="number" id="input-city" class="form-control" name = "mobile" value="{{user[3]}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="altmobile">Alternate Mobile Number</label>
                    <input type="number" id="input-country" class="form-control" name = "altmobile" value="{{user[8]}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="zone">Zone</label>
					<select class="form-control form-control-sm" name="zone">
						<option value=""></option>
                        {% for zone in zones %}
						{% if zone[0]==user[6] %}
                        <option value="{{ zone[0] }}" selected>{{ zone[1] }}</option>
						{% else %}
						<option value="{{ zone[0] }}">{{ zone[1] }}</option>
						{%endif%}
                        {% endfor %}
					</select>
                  </div>
                </div>
              </div>
            </div>
				</div>
			</div>
			<hr class="my-4" />
            <div class="box-footer">
				<button type="submit" class="btn btn-outline-primary">Update Profile</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


{% endblock javascripts %}